.calc {
  width: 320px;
  margin: 100px auto;
}

#ans {
  background-color: #e2e2e2;
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 45px;
  text-align: right;
  border: 3px solid #333;
}

.button {
  background: skyblue;
  height: 85px;
  width: 106px;
  color: white;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}